.addButton {
    height: 50px;
    background-color: #28272c;
    background: none;
    border: none;
    padding: 0;
    margin-right: 40px;
    color: #fafafa;
    border: 1px solid #5e5e5e;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    right: 0;
    margin-top: 40px;
}
.addButton:hover {
    color: #e6a42b;
}
