.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
    width: 250px;
}
.toggle-button {
    position: fixed;
    right: -45px;
    left: 0;
}
.toggle-button.openBth {
    width: 250px;
}
